# Node.js
splunk-log-project/backend/node_modules/
splunk-log-project/backend/logs/

# 환경변수 (민감값)
splunk-log-project/backend/.env
splunk-log-project/backend/src/logs/app.log

# Terraform 민감값
splunk-log-project/infra/terraform.tfvars

# Terraform 상태파일 (AWS 리소스 정보 + 민감값 포함)
splunk-log-project/infra/.terraform/
splunk-log-project/infra/*.tfstate
splunk-log-project/infra/*.tfstate.backup

# Mac
.DS_Store
